*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container{
    width: 100%;;
}
h1{
    color: rgb(8, 26, 88) ;
    text-align: center;
}
p{
    color: rgb(6, 26, 26);
    text-align: center;
}
table{width: 400px; height: 320px;} 
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0 auto;
  }

td{
    display: block;
    height: 30px;
    text-align: center;
}
.img_1{
    margin-left: 40%;
    margin-top: 3%;
     width: 400px;
     height: 400;
}
.img_2{
    margin-left: 30%;
     width: 400px;
}

menu{
    width: 100%;
    height: 70px;
    background: #873e85;
    
    margin-bottom: 100px;
    padding-top: 5px;
    padding-left: 30px;
}
a{
    color: white;
    text-decoration: none;
    font-size: 20pt;
    margin-left: 20px;
}
.logo{
    width: 35px;
}
.container{
    width: 100%;
}
.navbar{
    width: 100%;
}
footer{
    width: 100%;
    height: 80px;
    margin-top: 30px;
   background: rgb(42, 93, 233);;
    text-align: center;
    color: white;
    padding-top: 30px;
    
}
.footer_first{
    margin-top: 17%;
    background: rgb(42, 93, 233);
}

ul{
    text-align: center;
}
.img_3{
    margin-left: 40%;
     width: 400px;
     height: 400;
     margin-top: 30px;
}
.img_4{
    margin-left: 40%;
    width: 400px;
    height: 400;
    margin-top: 30px;  
}
.but{
    left: 50%;
    color: white;
    top: 900px;
    padding: 5px;
    border-radius: 10px;
    width: 10%;
    background: hsl(217, 78%, 42%);
    position: absolute;
}
.card {
    margin-top: 5%;
    margin-left: 45%;
    
}
.accordion{
    margin-top: 30px;
    margin-left: 13%;
    margin-inline-start: auto;
    background-color: rgb(185, 198, 207);
}
.jumbotron{
    display: flex;
    width: 100%;
}
.container-mt-3{
    width: 100%;
    display: flex;
    padding-top: 2%;
}
.h1_p{
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.progress{
    width: 60%;
}